<mat-card *ngFor='let e of events; let i = index' [class.active]="e.id == selectedEvent">
        <mat-card-header (click)="onEventClick(e)">
            <div mat-card-avatar class="example-header-image">
                <i class="material-icons" *ngIf='e.event_type == "CONSTRUCTION"'>build</i>
                <i class="material-icons" *ngIf='e.event_type == "INCIDENT"'>flash_on</i>
                <i class="material-icons" *ngIf='e.event_type == "WEATHER_CONDITION"'>ac_unit</i>
                <i class="material-icons" *ngIf='e.event_type == "SPECIAL_EVENT"'>announcement</i>
                <i class="material-icons" *ngIf='e.event_type == "ROAD_CONDITION"'>terrain</i>
            </div>
            <mat-card-title>{{ e.event_type | cleanName }}</mat-card-title>
            <mat-card-subtitle>
                <span *ngFor='let subtype of e.event_subtypes;'>{{ subtype | cleanName }} </span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content (click)="onEventClick(e)">
            {{ e.description }}
        </mat-card-content>
        <mat-card-actions (click)="onEventClick(e)">
            Status: {{ e.status }} 
            <br/>
            {{ e.updated | date:'MMM dd yyyy @ h:mma' }}
        </mat-card-actions>
    </mat-card>