.mat-card {
    max-width: 250px;
    text-align: justify;
}
.mat-card-actions {
    font-size: 85%;
    padding-left: 16px !important;
}

.mat-card {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.mat-card[_ngcontent-c4] .active[_ngcontent-c4] {
    border: 1px solid salmon;
}