/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
    background:lightgray;
}
.logo {
    max-height:40px;
    margin: 6px 10px 0 0;
}
.line-spacer {
    flex: 1 1 auto;
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3,
 .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
     font-size: 14px;
}
.p-r-1 {
    padding-right:5px;
}
.p-r-2 {
    padding-right:10px;
}
.p-l-1 {
    padding-left:5px;
}
.p-l-2 {
    padding-left:10px;
}

.white {
    color: white ;
}
.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid salmon;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(153, 153, 153, 0);
    border-top-color: salmon;
    border-width: 11px;
    margin-left: -11px;
}
.arrow_box {
    border-radius: 5px;
    padding: 10px;
  }

.mat-card.active {
    border: 1px solid salmon;
}